{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block page_content %}
<body>
    <header>
        <div class="container">
            <h2 class="Logo">Delivery Jogos de Tabuleiro</h2>
        </div>
    </header>
    
    <main>
        <div class="jogo-principal">
            <div class="container">
                <div class="sub-titulo"><h2>Jogo Em Destaque</h2></div>
                <h3 class="titulo">{{products[0].name}}</h3>
                <div class="img_home">
                    <img src="{{ url_for('static', filename='img/7won.png') }}" alt="">
                </div>
                <p class="descricao">{{products[0].description}}</p>
                <div class="botoes">
                    <button role="button" class="botao">
                        <a href="/product/{{products[0].id}}">Ver mais</a>
                    </button>
                </div>
            </div>
        </div>
    </main>


    <div class="homeshow-lista-jogos">
        <h2 class="titulo">Todos os Jogos</h2>
        <div class="owl-carousel owl-theme">
            {% for p in products %}
            <div class="item">
                <ul>
                    <li>{{p.name}}</li>
                    <li>Preço: R${{p.price}}</li>
                    <div class="botoes">
                        <button role="button" class="botao">
                            <a href="/product/{{p.id}}">Ver mais</a>
                        </button>
                    </div>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</body>



<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/setup.js') }}"></script>

{% endblock %}